- profile = (typeof profile != 'undefined') ? profile : {}

extends default

include mixins

block extraStyles
  mixin css('/alertify.js/themes/alertify.core.css')
  mixin css('/alertify.js/themes/alertify.default.css')

block mainContent
  .header
    .container
      .row
        img(src=logoUrl).pull-left.logo
        h3(style='text-align: right;').pull-right Dunky Dooball
        .spinner_parent.pull-right
      .clearfix
      hr
      ul.large-pills
        li
          a(href='/')
            i.icon-home
            br
            | Home
        li
          a(href='/network')
            i.icon-signal
            br
            | Network
        li
          a(href='/apps').active
            i.icon-sitemap
            br
            | Apps
        - if (profile.role && profile.role === 'Admin')
          li
            a(href='/users')
              i.icon-group
              br
              | Users
      .clearfix
  .mainContent
    .modal.fade.createAppModal
      .modal-dialog
        .modal-content
          .modal-header
            button(type='button', data-dismiss='modal').close x
            h3 Create App
          .modal-body
            form.form.form-horizontal
              mixin tf('textUrl', 'Git URL', 'Git URL')
              mixin tf('textDir', 'Directory Name', 'Directory Name')
              .form-group
                label.col-lg-2.col-lg-offset-2
                .col-lg-8
                  select.selectEnv.form-control
                    option(value='na') Select Environment
                    option(value='development') Development
                    option(value='test') Test
                    option(value='production') Production
          .modal-footer
            button(type='button').btn-save.btn.btn-primary Create
            button(type='button', data-dismiss='modal').btn-cancel.btn.btn-danger Cancel
    .container
      h3.dt Apps
      table.table.table-bordered
        thead
          th Name
            i
          th Port
            i
          th Environment
            i
          th Domains
          th Status
            i
          th(style='width: 200px; min-width: 189px;') Actions
        tbody
  .clearfix
  br
  br

block extraScripts
  mixin js('/socket.io/socket.io.js')
  mixin js('/DataTables/media/js/jquery.dataTables.js')
  mixin js('/alertify.js/lib/alertify.js')
  mixin js('/spin.js/spin.js')
  mixin js('/js/helper.js')
  mixin js('/js/apps.js')